VITE_SERVER_URL=https://jungle-campus-production.up.railway.app
VITE_STUN_URLS=stun:stun.l.google.com:19302
VITE_TURN_URLS=turn:15.164.94.50:3478?transport=udp,turn:15.164.94.50:3478?transport=tcp
VITE_TURN_USERNAME=jungleturn
VITE_TURN_CREDENTIAL=teXrl7YDubiCPkCmi7RHc2gJm/1pp/On

PORT=3001
CORS_ORIGIN=https://jungle-campus.vercel.app
